@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zoKmMw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: block;
}
@media only screen and (max-width: 959px) {
  .registration-container {
    width: 60% !important;
  }
}
#logoTitle {
  font-family: Lobster;
  font-size: 20px;
  color: white;
}
.navColorBackground {
  height: 100%;
  background-color: #41B3A3;
  background: -webkit-linear-gradient(to top, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.registration-container {
  position: relative;
  width: 20%;
  margin: 0px auto;
  margin-top: 5%;
  color: white;
}

#remember {
	height: 20px;
	display: inline-block;
}

.alert {
	text-align: center;
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 0;
}

.navbar {
  background-color: #0074D9;
}
.nav-item a {
  color: white;
}
.nav-item a:hover {
  background-color: #0086fc;
}
.dropdown-item {
  color: #0086fc !important;
}

.dropdown-item:hover {
  color: white !important;
}

a {
	color: #001f3f;
}
a:visited {
	color: #001f3f;
}
