
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zoKmMw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: block;
}

@accentColor: #77A6F7;
@backgroundColor: #00887A;

@tablet:    ~"only screen and (max-width: 959px)";

@media @tablet {
  .registration-container {
  	width: 60%;
  }
}


#logoTitle {
	font-family: Lobster;
	font-size: 20px;
	color: white;
}

.navColorBackground {
	background-color: @backgroundColor;
}

.registration-container{
position: relative;
 width: 20%;
 margin:0px auto;
 margin-top: 5%;
}

.navbar {
	background-color: @backgroundColor;
}

.nav-item a {
	color: white;
}

.nav-item a:hover{
	background-color: #00baa6;
}

.dropdown-item {
	color: @backgroundColor !important;
}