{% extends "OutLayout.html" %}
{% block content %}

<div class="content-section">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Iniciar sessão</legend>
			<div class="form-group">
				{{ form.email.label(class="form-control-label") }}
				{{ form.email(class="form-control form-control") }}
			</div>
			<div class="form-group">
				{{ form.password.label(class="form-control-label") }}
				{{ form.password(class="form-control form-control") }}
			</div>
			<div class="form-check">
				{{ form.remember(class="form-check-input") }}
				{{ form.remember.label(class="form-control-label") }}
			</div>
		</fieldset>
		<div class="form-group">
				{{ form.submit(class="form-control form-control") }}
			</div>
	</form>
</div>

<div class="border-top pt-3">
	<small class="">
		Não possui uma conta? <a class="ml-2" href="{{ url_for('register') }}">Registe-se!</a>
	</small>
	
</div>

{% endblock content %}